<form method="get">
  <div class="note-background">
    <div class="form-group <%@errors.key?(:date) ? 'has-error' : ''%>">
      <label>Выберете дату:</label>
      <input name="date" type="date" id="start">
      <%if  @errors.key?(:date)%>
        <span style="color: red" class="help-block">Пожалуйста, введите дату</span>
      <%end %>
    </div>
      </p>
    <p>
      <input class="btn btn-outline-dark" type="submit" value="Найти">
    </p>
    <%if @notes.length > 0 %>
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Имя</th>
          <th scope="col">Фамилия</th>
          <th scope="col">Статус</th>
          <th scope="col">Дата рождения</th>
          <th scope="col">Подробнее</th>
        </tr>
        </thead>
        <tbody>
        <% @notes.each do |note| %>
          <% @note = note %>
          <% @status = @statuses[note[:status_id]] %>
          <%= render :note_date_partial %>
        <% end  %>
        </tbody>
      </table>
    <%end %>
  </div>
</form>