<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Записная книжка</a>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Посмотреть все записи <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Найти ближайшие дни рождения</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Составить приглашение</a>
      </li>
    </ul>
  </div>
</nav>
  <div class="row">
    <div class="column">
      One of three columns
    </div>
    <div class="column">
      One of three columns
    </div>
</div>