<a href='/notes/new'>Добавить запись</a>

<% @notes.each.with_index do |note, index| %>
  <% @note = note %>
  <%= render :note_partial %>
  <a href="/notes/<%= index %>">Подробнее</a>
  <form method="delete">
    <a href="/notes/<%= index %>">Удалить</a>
  </form>
<% end  %>