<form method="post">
  <div class="post-note-background">
    <div class="center">
      <h4>
  <p>
    <label>Имя:</label>
    <input name="name" placeholder="Введите имя">
  </p>
  <p>
    <label>Фамилия:</label>
    <input name="surname" placeholder="Введите фамилию">
  </p>
  <p>
    <label>Отчество:</label>
    <input name="patronymic_name" placeholder="Введите отчество">
  </p>
  <p>
    <label>Номер мобильного телефона:</label>
    <input name="cell_phone_num" placeholder="Введите номер телефона">
  </p>
   <p>
    <label>Номер домашнего телефона:</label>
    <input name="home_phone_num" placeholder="Введите номер телефона">
  </p>
   <p>
    <label>Адрес:</label>
    <input name="address" placeholder="Введите адрес">
  </p>
   <p>
    <label>Дата рождения:</label>
    <input name="birthday_date" type="date" id="start"
       value="2018-07-22">
  </p>
  <p>
    <label>Пол:</label>
    <input name="gender" placeholder="Введите пол">
  </p>
  <p>
    <label>Статус:</label>
    <input list="select" name="status" placeholder="Введите статус">
    <datalist id="select">
      <%@statuses.each do |status|%>
      <option value=<%=status[:name] %>></option>
      <%end %>
    </datalist>
  </p>
  <p>
    <input class="btn btn-light" type="submit" value="Добавить">
  </p>
      </h4>
    </div>
  </div>
</form>