<tr>
  <h2>
    <td> <%= @note[:name] %></td>
    <td> <%= @note[:surname] %></td>
    <td>Статус: <%= @note[:status_id] %></td>
    <td> <input class="form-check-input" name=<%=@note[:id]%> type="checkbox"></td>
  </h2>
</tr>