<section class="myCont">
  <div class="left-half">
    <h2><p>Post-it!</p></h2>
    <h3>
      <p>Всегда оставайтесь в курсе предстоящих событий с помощью Post-it!
        Поздравляйте друзей, создавайте оригинальные приглашенияи и многое другое вместе с Post-it!
      </p>
    </h3>
  </div>
  <div class="right-half"></div>
</section>